VS_IMAGE=your-dockerhub-namespace/vintage-story-server:latest
PUID=1000
PGID=1000

VS_VERSION=1.21.6
VS_DOWNLOAD_URL=
VS_SERVER_NAME=Vintage Story Docker Server
VS_SERVER_DESCRIPTION=
VS_WELCOME_MESSAGE=Welcome {0}, may you survive well and prosper
VS_SERVER_LANGUAGE=en
VS_PORT=42420
VS_MAX_CLIENTS=8
VS_ADVERTISE_SERVER=false
VS_VERIFY_PLAYER_AUTH=true
VS_PASS_TIME_WHEN_EMPTY=false
VS_ALLOW_PVP=true
VS_ALLOW_FIRE_SPREAD=true
VS_ALLOW_FALLING_BLOCKS=true
VS_WORLD_NAME=Vintage Story Docker World
VS_PASSWORD=
VS_BIND_IP=
VS_SAVE_FILE=

VS_FORCE_REINSTALL=false
VS_BOOTSTRAP_TIMEOUT=60
VS_SERVER_ARGS=
